<div id="detailcontent" class="container">
    <div class="row justify-content-center">
        <div>
            <h3>Neue Transaktion</h3>
        </div>
    </div>
    <form id="newTransaction" [formGroup]="newtransaction" (submit)="create()">
        <div class="row label">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="control-label required">Titel</label>
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <input type="text" class="form-control" formControlName="title" name="titlefield" id="namefield" placeholder="Titel" minlength="1" required>
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
        <div class="row label">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label>Nähere Infos</label>
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <textarea form="newTransaction" class="form-control"></textarea>
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
        <div class="row label">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="control-label required">Von Konto</label>
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <select id="fromAcccountField" form="newTransaction" class="form-control" formControlName="fromaccount" name="fromAcccountField" required>
                    <option value="" selected disabled>Select your option</option>
                    <option *ngFor="let account of accounts" value="{{account.id}}">{{account.name}}</option>
                </select>
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
        <div class="row label">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="control-label required">Zu Konto</label>
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <select id="fromAcccountField" form="newTransaction" class="form-control" formControlName="toaccount" name="fromAcccountField" required>
                    <option value="" selected disabled>Select your option</option>
                    <option *ngFor="let account of accounts" value="{{account.id}}">{{account.name}}</option>
                </select>
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
        <div class="row label">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="control-label required">Betrag</label>
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <input name="valuefield" type="number" class="form-control" placeholder="Betrag" step="0.01" formControlName="amount" required>
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
        <div class="row label">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="control-label required">Ausgeführt am</label>
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <input name="executeddatetimefield" type="datetime-local" class="form-control" placeholder="dd.mm.yyyy hh:ss" formControlName="executeddate" required>
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
        
        <div class="row savebutton">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <button type="submit" class="btn btn-primary" [disabled]="!newtransaction.valid">Speichern</button>
            </div> 
            <div class="col-md-3 col-lg-3"></div>
        </div>
    </form>
</div>
