.label {
    padding-top: 10px;
}

.savebutton {
    padding-top: 15px;
}

.control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    font-weight: bold;
  }